# Arquivos temporários do Eclipse
.metadata/

# Logs do Eclipse
*.log

# Arquivos de configuração do Eclipse
.settings/
settings
.settings

# Arquivos de compilação
./bin/
/bin/
.bin/
bin/

# Arquivos de configuração do projeto Eclipse
.classpath
.project

# Cache do Eclipse
.history/

# Arquivos de backup do Eclipse
*~

# Arquivos de índice do Eclipse
*.index

# Arquivos de armazenamento local do Eclipse
.localhistory/
